@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    

}

.main {
    height: 100%;
    width: 100%;
}

.containerOne {
    height: 100%;
    width: 100%;
   background-color: white;
    background-size: cover;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
   



}
.nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
   background-color: #dadada;
    padding: 0 1vw;
}
#menuicon{
    display: none;
}
.logo{
    font-size: 3.4vw;
    font-family: sans-serif;


}
.items{
    display: flex;
   gap: 3.4vw;
   font-family: sans-serif;
   font-size: 1.4vw;
   font-weight: 550;
}
.items a{
    text-decoration: none;
    color: black;
}
.items img{
    display: none;
}
.hidden{
    display: none;
}
@media (max-width: 550px){
    .nav{
        height: 80px;
        background-color: lightseagreen;
    }
    .logo{
        font-size: 5vh;
        font-weight: bold;
    }
  .items a{
    font-size: 1.5vh;
    padding-left: 1vh;
    
  }
    #menuicon{
        display: inline;
        position: relative;
        right: 18vh;
    
    }
    .containerTwo {
        height: 100%;
        width: 100%;
        background-color: blue;
    }
    
    .containerThree {
        height: 100%;
        width: 100%;
        background-color: cyan;
    }
    
    .containerFour {
        height: 100%;
        width: 100%;
        background-color: magenta;
    }
    
    .containerFive {
        height: 100%;
        width: 100%;
        background-color: greenyellow;
    }
    
    .containerSix {
        height: 100%;
        width: 100%;
        background-color: yellow;
    }


}









